<div class="content content-boxed">
  <div class="block">
    <div class="block-header bg-gray-lighter">
      <div class="col-sm-12">
        <h3 class="block-title ">Cores </h3>



        <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#color-form" type="button"><i class="fa fa-plus"></i></button>
      </div>
    </div>

    <div class="block-content">
      <table class="table table-borderless table-striped table-vcenter">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Cor</th>
          </tr>
        </thead>
        <tbody>
          <% @colors.each do |color| %>
            <tr>
              <td class="text-center"> <%= color.id %> </td>
              <td class="text-center"> <%= color.name.capitalize %> </td>
            </tr>
          <% end if @colors %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_block' %>