<div class="content content-boxed">
  <div class="block">
    <div class="block-header bg-gray-lighter">
      <div class="col-sm-12">
        <h3 class="block-title ">Produtos</h3>
        <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#product-form" type="button"><i class="fa fa-plus"></i></button>
      </div>
    </div>

    <div class="block-content">
      <table class="table table-borderless table-striped table-vcenter">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Cor</th>
            <th class="text-center">Tamanho</th>
          </tr>
        </thead>
        <tbody>
          <% @products_presenter.each do |product| %>
            <tr>
            <td class="text-center"> <%= size.id %> </td>
            <td class="text-center"> <%= product.name.capitalize %> </td>
            <td class="text-center"> <%= product.color.capitalize %> </td>
            <td class="text-center"> <%= product.size %> </td>
            </tr>
          <% end if @products_presenter %>
        </tbody>
      </table>
    </div>
  </div>
</div>
